# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.sqlite3
*.db

# ENV FILE  ⭐ add this
.env

# Node.js
node_modules/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Build directories
build/
dist/